.logo {
    width: 167.02px;
    height: 29.46px;
    margin-top: 35.02px;
    gap: 0px;
    opacity: 0px;
    color: #FFFFFF;
}

div > nav {
    display: flex;
    justify-content: space-between;
    width: 1103.41px;
    top: 35.02px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    margin-right: 171.59px;
    margin-left: 171.59px;
    height: 29.46px;
    row-gap: 700px;
    }

.background-container {
    background-image: url(Object.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 1093px;
    gap: 0px;
    opacity: 0px;
}



.nav-list {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding: 0px;
    gap: 50px;
    position: relative;
    margin-top: 35.02px;
    margin-left: 702,39px;
    }

.nav-list a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    text-align: left;
}

.nav-list a:hover {
    text-decoration: underline;
    color:yellowgreen;
}
    
.registration {
    display: inline-block;
    width: 684px;
    height: 151px;
    margin-top: 220px;
    margin-left: 377px;
    gap: opx;
    opacity: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

h1 {
    display: inline;
    text-wrap: nowrap;
    font-family: sans-serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    width: 550px;
    color: #FFFFFF;
}

.highlight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    margin-top: 0px;
}

button{
    display: inline-block;
    color: white;
    background-color: #C271FF;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 20px;
    width: 162px;
    height: 44px;
    margin-top: 20px;
    margin-left: 639px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 2px 20px 0px #00000080;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 17.6px;
    text-align: center;
    text-wrap: nowrap;
}

button:hover {
    background-color: blue;
}

.air {
    display: inline-flex;
    width: 261px;
    height: 40px;
    margin-top: 20px;
    margin-left: 604px;
    gap: 0px;
    opacity: 10px;
    justify-content: center;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
    text-wrap: nowrap ;
    color: #FFFFFF;
}

p span {
    color: #C271FF;
    font-weight: 700;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
    width: 1009px;
    height: 237px;
    margin-top: 50px;
    margin-left: 217px;
    text-wrap: wrap;
    color: #FFFFFF;
    }

    #third {
        border-radius: 75px;
    }

.pictures h3 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    text-align: center;
    }

.pictures p {
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-wrap: wrap;
}

.quote {
    display: flex;
    width: 1440px;
    height: 392px;
    gap: 0px;
    opacity: 0px;
    background-color: #C271FF;
}

.quote img {
    width: 160px;
    height: 160px;
    margin-top: 100px;
    margin-left: 259px;
    gap: 0px;
    opacity: 0px;
    border-radius: 80px;
}

blockquote {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #FFFFFF;
    text-wrap: wrap;
    margin-top: 100px;
}
.mine h3 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    margin-left: 40px;
    color: #FFFFFF;
}

.mine p {
    width: 165px;
    height: 34px;
    margin-top: 0px;
    margin-left: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;
    color: #FFFFFF;
    text-wrap: nowrap;
}

.smile {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 625px;
    gap: 0px;
    opacity: 0px; 
}

.smile h2 {
    display: flex;
    width: 294px;
    height: 40px;
    margin-left: 41%;
    margin-top: 40px;
    align-content: center;
    gap: 10px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 40.22px;
    text-align: center;
    color: #071629;
}

.smile span {
color:#C271FF;
font-weight: bold;
}

.set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.toe {
    width: 255px;
    height: 335px;
    margin-top: 40px;
    margin-left: 58px;
    gap: 0px;
    opacity: 0px;
}

.toe h3 {
    width: 106px;
    height: 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    color: #071629;
    text-wrap: nowrap;
}

.toe p {
    width: 242px;
height: 48px;
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
color:#07162980;
}

.mine img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    left: 5px;
    gap: 0px;
    opacity: 0px;
    align-self: center;
}

.mine h4 {
    width: 86px;
height: 27px;
margin-left: 10px;
margin-top: 0px;
gap: 0px;
opacity: 0px;
font-family: sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: #C271FF;
text-wrap: nowrap;
align-self: normal;
}

.me {
    display: flex;
    flex-direction: row;
    width: 116px;
    height: 27px;
}

.you {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
}

.design {
    display: flex;
    flex-direction: row;
    width: 107px;
    height: 15px;
    margin-top: 20px;
    opacity: 0px;
    color: #C271FF;
}

.you p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    text-align: right;
    color: #C271FF;
}

.free {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 502px;
    gap: 0px;
    opacity: 0px;
    background-color:#071629;
}

.free h2 {
    width: 234px;
    height: 40px;
    margin-top: 40px;
    left: 617px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 50;
    line-height: 40.22px;
    text-align: center;
    color: #FFFFFF;
    text-wrap: nowrap;
    align-self: center;
}

.free span {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    color: #C271FF;
}

.sticker {
    display: flex;
    justify-content: center;
    margin-left: 7%;
    padding: 0%;
}

.wine {
    display: grid;
    align-items: center;
    width: 257px;
    height: 153px;
    margin-top: 40px;
    margin-left: 10px;
    gap: 0px;
    opacity: 0px;
}

.wine h3 {
    width: 256px;
    height: 26px;
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
}

.wine p {
    width: 215px;
    height: 52px;
    margin-top: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 26px;
    align-self: center;
    color: #FFFFFF;
}

#special {
   margin-top: 100px;   
}

.question {
    height: max-content;
}

.question p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-left:  50%;
    width: 136px;
    height: 75px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 75.42px;
    text-align: center;
    justify-self: center;
    color: #071629;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 300px;
    margin-top: 0%;
    margin-left: 15%;
    padding-bottom: 80px;
    align-items: center;
    align-self: center;
}

.grid-item {
    width: 350px;
height: 242px;
margin-top: 40px;
gap: 0px;
opacity: 0px;
justify-self: center;
}

.grid-item h3 {
    width: 145px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
    color: #071629;
    text-wrap: nowrap;
}

.mirror {
    width: 350px;
    height: 192px;
    gap: 0px;
    opacity: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#07162980;
}
 
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1440px;
    height: 249px;
    background-color: #071629;
}

.foot img {
    width: 169px;
    height: 30px;
    margin-top: 95px;
    margin-left: 80px;
    gap: 0px;
    opacity: 0px;
}

.icons {
    justify-content: space-around;
    width: 130px;
    height: 30px;
    margin-top: 95px;
    margin-left: 736px;
    color: #FFFFFF;
}

.fa-facebook {
    width: 30px;
    height: 30px;
    opacity: 0px;
    margin-right: 5px;
}

.fa-twitter {
    width: 30px;
    height: 30px;
    opacity: 0px;
    margin-right: 5px;
}

.fa-instagram {
    width: 30px;
    height: 30px;
    opacity: 0px;
}

#word {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot p {
    width: 96px;
    height: 15px;
    margin-top: 5%;
    margin-left: 50%;
    gap: 0px;
    opacity: 0.35px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.08px;
    text-align: left;
    text-wrap: nowrap;
    color: #FFFFFF;
}
   
   
